<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Track Payments</title>
</head>
<body>
    <div class="container">
        <h2>Track Payments</h2>
        {% if message %}
        <p>{{ message }}</p>
        {% endif %}
        <form action="{{ url_for('track_payments') }}" method="post">
            <label for="name">Supplier Name:</label>
            <select name="name" id="name">
                {% for supplier in suppliers %}
                <option value="{{ supplier[1] }}">{{ supplier[1] }}</option>
                {% endfor %}
            </select><br><br>
            <label for="amount">Amount:</label>
            <input type="text" id="amount" name="amount" required><br><br>
            <label for="date_of_payment_requested">Date of Payment Requested:</label>
            <input type="date" id="date_of_payment_requested" name="date_of_payment_requested" required><br><br>
            <input type="submit" value="Track Payment">
        </form>
    </div>
</body>
</html>
